<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function deleteOption(id) {
            fetch(`/${id}/deleteOption`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err) => console.error(err))
        }
    </script>
    <link rel="stylesheet" href="./css/style.css">
    <title>
        <%= title %>
    </title>
    <style>
        span {
            display: block;
        }
    </style>
</head>

<body class="bg-gray-200">
    <div class="my-2 mx-5">
        <div class="flex justify-center">
            <div>
                <b>
                    <h1 class="text-3xl font-semibold">Add an Option</h1>
                </b>
            </div>
        </div>
        <br>
        <div>
            <b>
                <a href="/questions/<%= id%>"
                    class="text-white bg-red-600 hover:bg-red-700 font-medium rounded px-5 py-2 justify-right">Go
                    Back</a>
            </b>
        </div>
        <br>

        <div class="bg-gray-lighter min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col justify  px-2">
                <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                    <div class="grid grid-cols-6">
                        <div class="col-start-1 col-span-5">
                            <span class="text-2xl font-dark-medium ">Question : <%= title %></span>
                            <span class="text-black-800 font-medium">Description : <%= desc %></span>
                            <div class="ml-6">
                                <ol class="list-decimal">
                                    <% for(let i=0; i<option.length; i++) { %>
                                        <li class="option-item">
                                            <div class="flex justify w-full my-2 px-2 py-1">
                                                <p class="ml-2 text-lg ">
                                                    <%= option[i].optionName %>
                                                </p>
                                                <div class="flex gap-2 ">
                                                    <div class="rounded w-fit px-2 py-1 justify-right flex gap-2">
                                                        <a href="/election/<%=id%>/questions/<%=questionId%>/options/<%=option[i].id%>/edit"
                                                            class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-3 py-1.5 justify-right">Edit</a>
                                                    </div>
                                                    <div class="rounded w-fit px-2 justify-right py-1 flex gap-2">

                                                        <a onclick="deleteOption(<%= option[i].id %>)"
                                                            class="text-white bg-red-600 hover:bg-red-700 font-medium rounded px-3 py-1.5 justify-right">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <% } %>
                                </ol>
                            </div>
                            <form action="/getElections/addingOption/<%=id%>/<%= questionId %>/options" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <div class="py-3">
                                    <input type="text" name="optionName" placeholder="Enter an option"
                                        class="border border-gray-300 text-gray-800 rounded p-2 w-full">
                                </div>
                                <div class="py-3">
                                    <button type="submit"
                                        class="text-white bg-green-600 hover:bg-green-900 font-medium rounded px-5 py-2">Add
                                        Option</button>
                                </div>
                            </form>
                            <b>
                                <p class=" justify-center" align="center">
                                    <%= (option.length==0)?"No options are added yet!!":"" %>
                                </p>
                            </b>
                            <% if(messages && messages.error && messages.error.length> 0) { %>
                                <% for(var i=0; i<messages.error.length; i++) { %>
                                    <p class="bg-red-200 my-3 list-none rounded px-4 py-2">
                                        <%= messages.error[i] %>
                                    </p>
                                    <% } %>
                                        <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
