<html>

<head>
  <title>Edit options</title>
  <meta name="csrf-token" content="<%= csrf %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-200">
  <div class="my-2 mx-5">
   <br>
    <div class="bg-gray-lighter min-h-screen flex flex-col">
      <div class="container max-w-sm mx-auto flex-1 flex flex-col justify  px-2">
        <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
          <div class="flex justify-center">
            <div>
              <b>
                <h1 class="text-3xl font-semibold">Edit Option</h1>
              </b>
            </div>
          </div>
          <br>
          <form action="/election/<%= election.id %>/questions/<%= question.id %>/options/<%= option.id %>/edit" method="post">
            <input type="hidden" name="_csrf" value="<%= csrf %>">
            <div class="py-3">
              <input type="text" name="optionName" value="<%= option.optionName %>" placeholder="Option Name" class="border border-gray-300 text-gray-800 rounded p-2 w-full">
            </div>
            <div class="py-3">
              <button type="submit" class="text-white bg-green-600 hover:bg-green-900 font-medium rounded px-5 py-2">Modify</button>
            </div>
            <div class="py-3">
              <a href="/getElections/addingOption/<%= election.id %>/<%= question.id %>/options" class="text-white bg-red-600 hover:bg-red-700 font-medium rounded px-5 py-2">Cancel</a>
            </div>
          </form>
          <% if(messages && messages.error && messages.error.length> 0) { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
              <p class="bg-red-200 my-3 list-none rounded px-4 py-2">
                <%= messages.error[i] %>
              </p>
              <% } %>
                <% } %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
